body{
	margin: 0;
	background-color:  #171717;
}

a{
	text-decoration: none;
	color: black;
}

header{
	background-color: #811A12;
	box-shadow: 0px 3px 5px 0px white;
}

.container{
	width: 100%;
	max-width: 1200px;
	padding: 15px;
	margin: 0 auto;
}

.tile{
	height: 110px;
	line-height: 110px;
	box-shadow: 0 6px 4px -4px white;
}

.tile2{
	height: 355px;
}

.logo{
	font-weight: bolder;
	font-size: 60pt;
	font-family: Sitka Small;
	font-style: italic;
	-webkit-text-stroke: 2px white;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.barbeque-motorcycles{
	list-style: none;
	font-family: Sitka Small;
	height: 118.5px;
	line-height: 118.5px;
	font-weight: lighter;
	font-style: italic;
	font-size: 48pt;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}

nav{
	float: right;
	font-size: 16pt;
	font-family: Sitka Small;
}

nav ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	text-decoration: underline;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.container: after{
	content: "";
	display: table;
	clear: both;
}

.big-dave{
	width: 470px;
	margin-top: 50px;
	height: 250px;
	float: right;
    box-shadow: 0 0 10px 5px black;
}

.main{
	height: 940px;
}

.offers{
	text-align: center;
	color: white;
	font-family: Sitka Small;
	font-size: 50pt;
	font-style: italic;
	font-weight: bolder;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.photos{
	margin-top: 115px;
	height: 385px; 
}

.photos .barbeque-ph{
	width: 450px;
	height: 385px;
	box-shadow: 0 0 25px 2px white;
	float: right;
}

.photos .moto-ph{
	display: inline-block;
	width: 450px;
	height: 385px;
	box-shadow: 0 0 25px 0.5px white;
}

.real-offers{
	margin-top: 10px;
}

.fix{
	font-family: Sitka Small;
	font-weight: bolder;
	font-style: italic;
	font-size: 30pt;
	color: white;
	margin-left: 55px;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.cooking{
	font-family: Sitka Small;
	font-weight: bolder;
	font-style: italic;
	font-size: 30pt;
	color: white;
	float: right;
	margin-right: 115px;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.revs{
	color: white;
	text-align: center;
	font-size: 50pt;
	font-family: Sitka Small;
	margin-top: 50px
}

.revs-a{
	color:white;
	font-style: italic;
	font-weight: bolder;
}

footer{
	background-color: #811A12;
	height: 100px;
	width: 100%;
	box-shadow: 0px -3px 5px 0px white;
}

.foota{
	text-align: center;
	padding-top: 40px;
}

.copyright{
	font-family: Sitka Small;
	font-size: 16pt;
	font-weight: bolder;
	color: white;
}



